:root {
  //  COLORS
  --color-primary: #eb2f64;
  --color-primary-dark: #ba265d;
  --color-primary-light: #ff3366;

  --color-star: #ffd43b;

  --color-white: #fff;
  --color-black: #000;

  --color-gray-0: #f8f9fa;
  --color-gray-1: #f1f3f5;
  --color-gray-2: #e9ecef;
  --color-gray-3: #dee2e6;
  --color-gray-4: #ced4da;
  --color-gray-5: #adb5bd;
  --color-gray-6: #868e96;
  --color-gray-7: #495057;
  --color-gray-8: #343a40;
  --color-gray-9: #212529;

  // SHADOWS
  --shadow-dark: rgba(0, 0, 0, 0.25) 0px 3rem 6rem;
  --shadow-btn: rgba(17, 17, 26, 0.1) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
  --shadow-box: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px;

  // BORDERS
  --border-line: 2px solid var(--color-gray-1);
}

// RESPONSIVE ENDPOINTS
$bp-largest: 75em; // 1200px
$bp-large: 68.75em; // 1100px
$bp-medium: 56.25em; // 900px
$bp-medium-2: 43.75em; //700px
$phone: 37.5em; // 600px

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;

  @media only screen and (max-width: $bp-large) {
    font-size: 56.25%;
  }

  @media only screen and (max-width: $bp-medium-2) {
    font-size: 50%;
  }
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  background-image: linear-gradient(
    to right bottom,
    var(--color-primary-light),
    var(--color-primary-dark)
  );
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  color: var(--color-gray-7);
}

ul {
  list-style: none;
}

a,
a:active {
  font: inherit;
  text-decoration: none;
  color: var(--color-gray-8);
}

img {
  display: block;
  max-width: 100%;
}
